<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div     class="slide">
    <img class="animate__animated animate__heartBeat" src="../../assets/images/login.jpg" alt="">
  </div>
  <ion-list>
    
<div class="container" style="padding: 20px;">

  <ion-item class="animate__animated animate__bounceIn">
    <ion-label  position="floating" >Usernaem</ion-label>
    <ion-input  [(ngModel)]="usernaem" name="username" id=username type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="animate__animated animate__bounceIn">
    <ion-label position="floating"  >Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" id="password" ></ion-input>
  </ion-item>
  <br>
  <br>
  <a class="animate__animated animate__bounceIn" style ="margin-left: 27%;" routerLink='/register'>Create account ? </a>
  <br>
  <br>
    
  <ion-item class="animate__animated animate__bounceIn" >
    <ion-button  style="width: 100%;" size="large" expand="block" fill="outline" (click)="login()">Login </ion-button>
  </ion-item>
  
</div>

  </ion-list>
</ion-content>
